<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693942396461-v84r0gcfvket7votccp97j5njbg7ttrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693942396461-v84r0gcfvket7votccp97j5njbg7ttrk</string>
	<key>API_KEY</key>
	<string>AIzaSyDhy9f8o8IuLCDA6URSuyePuiprYgWWkQs</string>
	<key>GCM_SENDER_ID</key>
	<string>693942396461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application</string>
	<key>PROJECT_ID</key>
	<string>shopnpay-1f1ee</string>
	<key>STORAGE_BUCKET</key>
	<string>shopnpay-1f1ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693942396461:ios:bd2f1101f91b90d5583aa4</string>
</dict>
</plist>